:root {
  --bg-main: #f0f2f5;
  --bg-body: #fff;
  --color-txt: #000;
  --filled-color: #000;
  --filled-bg: #caf0f8;

  --white: #fff;
  --blue: #00aeef;
  --red: #e91e63;
  --black: #000;

  --nav-size: 70px;
  --sudoku-cell-size: 50px;
  --hb-width: 22px;
  --hb-height: calc(var(--hb-width) / 8);

  --border-radius: 10px;

  --space-y: 20px;

  --gap: 4px;

  --font-size: 1.5rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;
}

.dark {
  --bg-main: rgb(42, 42, 56);
  --bg-body: rgb(26, 26, 46);
  --color-txt: #6a6a6a;
  --filled-color: #4f4f63;
  --filled-bg: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Lato", cursive;
  background-color: var(--bg-body);
  overflow-x: hidden;
  /* overflow-y: hidden; */
  user-select: none;
}

.container {
  position: relative;
  margin: auto;
  justify-content: center;
  align-items: center;
  /* overflow-y: hidden; */
}

input {
  font-family: "Lato", cursive;
  border: 2px solid var(--bg-main);
  color: var(--color-txt);
}

input:hover,
input:focus {
  border-color: var(--blue);
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style-type: none;
}

nav {
  /* display: flex; */
  background-color: var(--bg-body);
  color: var(--color-txt);
  position: absolute;
  /* position: relative; */
  top: 0;
  width: 100%;
  box-shadow: 5px 2px var(--bg-main);
  z-index: 99;
}

.nav-container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 40px;
  height: var(--nav-size);
  gap: 5px;
}

.nav-logo {
  position: absolute;
  left: 40px;
  font-size: var(--font-size-lg);
  color: var(--blue);
}

/* dark mode toggle */

.dark-mode-toggle {
  /* display: flex; */
  color: var(--blue);
  font-size: var(--font-size-lg);
  cursor: pointer;
}

.bxs-sun {
  display: none;
}

.bxs-moon {
  display: inline-block;
}

.dark .bxs-sun {
  display: inline-block;
}

.dark .bxs-moon {
  display: none;
}

/* Hamburger */

.hamburger-wrapper {
  position: relative;
  /* margin-right: 5px; */
  transform: translateX(300px);
  transition: transform 0.5s ease;
}

.hamburger-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  cursor: pointer;
  /* //background: #000; */
  background: black;
  z-index: 3;
  opacity: 0;
}

.hamburger {
  width: var(--hb-width);
  height: var(--hb-height);
  background: var(--blue);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* //transition:.2s; */
  z-index: 2;
}

.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  width: var(--hb-width);
  height: var(--hb-height);
  background: var(--blue);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
}

.hamburger:before {
  top: -6px;
}

.hamburger:after {
  top: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

/* .hamburger-btn:hover + .hamburger {
  transform: rotate(135deg);
} */

.hamburger-btn:checked + .hamburger {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.hamburger-btn:checked + .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.hamburger-btn:checked + .hamburger:after {
  top: 0;
  transform: rotate(135deg);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* End - Hamburger */

.main {
  /* height: 100vh; */
  padding-top: var(--nav-size);
  display: grid;
  place-items: center;
}

.screen {
  /* display: flex; */
  position: relative;
  overflow: hidden;
  /* height: calc(100% - var(--nav-size)); */
  min-width: 400px;
  /* margin-top: 10px; */
  /* margin-left: 10px; */
}

.start-screen {
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
  /* height: 100%; */
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-screen.active {
  transform: translateX(0);
}

.start-screen > * + * {
  margin-top: 20px;
}

.input-name {
  height: 80px;
  width: 280px;
  border-radius: var(--border-radius);
  outline: 0;
  background-color: var(--bg-main);
  padding: 20px;
  font-size: var(--font-size-lg);
  text-align: center;
}

.btn {
  height: 80px;
  width: 280px;
  background-color: var(--bg-main);
  color: var(--color-txt);
  border-radius: var(--border-radius);
  display: grid;
  place-items: center;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  font-size: var(--font-size-lg);
  cursor: pointer;
}

.btn-blue {
  background-color: var(--blue);
  color: var(--white);
}

.input-err {
  border-color: var(--red);
  animation: bounce 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

.main-game {
  display: flex;

  /* position: fixed; */
  top: 10px;
  left: 200px;
  height: 100%;
  /* flex-direction: column; */
  justify-content: space-between;
  padding: 20px 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  /* border: 2px solid red; */
  /* z-index: 100; */
  /* background-color: inherit; */
}

.main-game.active {
  transform: translateX(0);
}

.main-sudoku-grid {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(9, auto);
}

.main-grid-cell {
  height: var(--sudoku-cell-size);
  width: var(--sudoku-cell-size);
  border-radius: var(--border-radius);
  background-color: var(--bg-main);
  color: var(--blue);
  display: grid;
  place-items: center;
  font-size: var(--font-size);
  cursor: pointer;
}

.main-grid-cell.filled {
  background-color: var(--filled-bg);
  color: var(--filled-color);
}

.main-grid-cell.selected {
  background-color: var(--blue);
  color: var(--white);
}

.main-grid-cell:hover {
  border: 2px solid var(--blue);
}

.main-grid-cell.hover {
  border: 3px solid var(--blue);
}

.dark .main-grid-cell.hover {
  border: 1px solid var(--blue);
}

.main-grid-cell.err {
  background-color: var(--red);
  color: var(--white);
}

.main-game-info-wrapper {
  margin-left: 40px;
  margin-top: 50px;
}

.main-game-info {
  margin-top: var(--space-y);
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  position: relative;
}

.main-game-info-box {
  height: 45px;
  background-color: var(--bg-main);
  color: var(--color-txt);
  border-radius: var(--border-radius);
  display: grid;
  place-items: center;
  padding: 0 20px;
  font-size: var(--font-size);
}

.main-game-info-time {
  position: relative;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  margin-bottom: auto;
  grid-column: 1/-1;
}

#game-time {
  margin-right: 15px;
}

.pause-btn {
  position: absolute;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: var(--border-radius);
  background-color: var(--blue);
  color: var(--white);
  font-size: var(--font-size);
  display: grid;
  place-items: center;
  cursor: pointer;
}

.numbers {
  margin-top: var(--space-y);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.number {
  height: 40px;
  border-radius: var(--border-radius);
  background-color: var(--bg-main);
  color: var(--color-txt);
  display: grid;
  place-items: center;
  font-size: var(--font-size);
  cursor: pointer;
}

.delete {
  background-color: var(--red);
  color: var(--white);
  height: 40px;
  border-radius: var(--border-radius);
  display: grid;
  place-items: center;
  font-size: var(--font-size);
  cursor: pointer;
}

.pause-screen,
.result-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-body);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}

.pause-screen.active,
.result-screen.active {
  display: flex;
}

.pause-screen > * + *,
.result-screen > * + * {
  margin-top: 20px;
}

.result-screen.active div {
  animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pause-screen.active .btn {
  animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.result-screen .congrate {
  font-size: var(--font-size-xl);
  color: var(--blue);
}

.result-screen .info {
  color: var(--color-txt);
  font-size: var(--font-size);
}

#result-time {
  color: var(--blue);
  font-size: var(--font-size-xl);
}

.zoom-in {
  animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes zoom-in {
  0% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}

.cell-err {
  animation: zoom-out-shake 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes zoom-out-shake {
  0% {
    transform: scale(2);
  }
  25% {
    transform: scale(2) rotate(30deg);
  }
  50% {
    transform: scale(2) rotate(-30deg);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 800px) {
  :root {
    --nav-size: 40px;

    --sudoku-cell-size: 48px;

    --border-radius: 5px;

    --space-y: 10px;

    --gap: 2px;

    --font-size: 1rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;
  }

  /* body {
    overflow-y: auto;
  } */
  .container {
    overflow-y: hidden;
  }
  .input-name,
  .btn {
    height: 50px;
  }

  .hamburger-wrapper {
    transform: translateX(0);
    transition: transform 0.5s ease;

    /* top: 0; */
  }
  .main {
    padding-top: 25px;
  }
  .main-game {
    flex-direction: column;
  }
  .main-grid-cell.hover {
    border-width: 2px;
  }
  .main-game-info-wrapper {
    margin-left: 0;
    margin-top: 5px;
  }
  .main-game-info {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    display: block;
    gap: 10px;
    background-color: rgba(42, 42, 56, 0.8);
    padding: 20px;
    transform: translateX(500px);
    transition: transform ease 0.9s;
  }

  .main-game-info.active {
    /* position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    display: block;
    gap: 10px; */
    color: var(--blue);

    background-color: rgba(42, 42, 56, 0.9);
    box-shadow: 2px 2px 2px rgba(42, 42, 56, 0.5);

    padding: 20px;
    transform: translate(-50%, -50%);
    transition: transform ease 0.8s;
  }

  .number {
    height: 35px;
  }
  .screen {
    min-width: unset;
    display: flex;
  }

  .main {
    margin-top: 20px;
  }
}
